body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family:JostMedium;
    src: url(../font/Jost500Medium.woff);
  }
  @font-face {
    font-family:JostRegular;
    src: url(../font/Jost-Regular.woff);
  }
  @font-face {
    font-family:JostSemibold;
    src: url(../font/Jost-SemiBold.woff);
  }
  @font-face {
    font-family:Jostbold;
    src: url(../font/Jost-Bold.woff);
  }
  @font-face {
    font-family:PlayfairDisplayRegular;
    src: url(../font/PlayfairDisplay-Regular.woff);
  }
.wrapper{
    max-width: 1600px;
    margin: 0% auto;
}
.container{
    opacity: 1;
    width: 100%;
    font-size: 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family:JostMedium;
}
.header{  
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px hsla(0,0%,77.3%,.47059);
   
}
.headermobile{
    display: none;
}
.headertop{
    font-family:JostRegular;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid rgb(214, 211, 211);
    justify-content: space-between;
}
.headertop p{
   opacity: 1;
    width: 401px;
    height: 20px;
    color: #303030;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.india{
    height: 10px;
    width: 20px;
}
.toptags{
    margin-left: 0%;
    padding-top: 5px;
}
.toptags a{
    opacity: 1;
    width: 401px;
    height: 20px;
    color: #303030;
}
.headerbottom{
    display: flex;
    background-color: white;
    justify-content:space-between;
}
.div1{
    width: 20%;
}
.btn{
    position: relative;
    width: 135px;
    height: 55px;
    font-family:JostSemibold;
    border: 1px solid rgb(214, 211, 211);
    background-color: white;
}
.btn svg{
    position: absolute;
    left:0%;
    top: 30%;
    margin: 0%;
}
.btn p{
    position: absolute;
    font-size: 16px;
    right: 5%;
    top: 0%;
}
.div2{
  width: 80%;
  position: relative;
}
.btn1{
    border-radius: 18px;
    height: 25px;
    width: 100px;
    background-color: white;
    padding: auto;
   
}
 .btn2{
     width: 250px;
     height: 55px;
     border: 1px solid rgb(214, 211, 211);
    position: absolute;
    background-color: white;
    right: 0%;
}
.btn2 p{
    font-size: 16px;
    margin: 10px;
}
.headertag, .resttag{
    margin-top: 40px;
}
.headertag{
    margin-left: 40px;
}
.searchlogo{
    margin-top: 40px;
}
.searchlogo button{
    border: none;
    background-color: white;
    margin-left:10px;
    margin-right:10px;
}
.header a{
    color: #303030;
    padding: 20px;
    text-decoration: none;

}
.logo{
    padding-left: 40px;
    margin: 15px;
    margin-left:40px;
}
.main{
    display: flex;
    flex-direction:column;
    background-color: transparent;
    
}
.mainheader{
    margin: 20px;
    margin-right:30px ;
    margin-left:30px ;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1,1fr);
}
.heading{
    color: #303030;
    text-align: center;
    padding-bottom: 10px ;
    margin-bottom: 20px;

}
.p1{
    
    font-family:PlayfairDisplayRegular;
    font-size: 32px;
    height: 43px;   
    margin-bottom: 0%;
}
.p2{ 
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family:JostRegular;
}
.heading h1{ 
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.mainbody{
    margin: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid rgb(214, 211, 211);
}
.shawltype{
   margin-right: 20px;
   margin-left: 10px;
}
.selectoption{
    padding: 0%;
    position: relative;
    color: #303030;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(214, 211, 211);
}
.selectoption p{
    width: 131px;
    height: 23px;
    padding: 0%;
    font-family:JostSemibold;
}
.selectoption img{
    position: absolute;
    right: 0%;
    top: 9px;
}
.selectoption input{
    margin: 0%;
    width: 25px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: 15px;
    color: #303030;
}
.price,.discount{
    display: flex;
    position: relative;
    font-family:JostSemibold;
    border-bottom: 1px solid rgb(214, 211, 211);
}
.price img,.discount img{
    position: absolute;
    top: 28px;
    right: 0;
}
/* .shawltype div{
    padding-bottom: 20px;
    
} */
.sideimages{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
.mainimages{
    display: flex;
}
.mainfooter{
    position: relative;
    color: #0C0C0C;
    margin: 20px;
    margin-bottom: 50px;
    display:flex;

}
.page-btn{
    position: absolute;
    left: 40%;
}
.clickable{
    background-color: white;
    padding: 10px;
    width: auto;
    font-size: 16px;
    border: none;
    height: 50px;
}
#next{
    background-color: white;
    font-size: 16px;
    font-family:JostSemibold;
    height: 50px;
    border: 1px solid rgb(214, 211, 211) ;
}
/* #next svg{
    position: absolute;
    right: 0%;
    top: 40%;
    margin-left: 20px;
} */
.datadisplay{
    color:#0C0C0C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:20px ;

}
.datadisplay div{
    position: relative;
    margin-bottom: 40px;
}
.img2{
    position: absolute;
    right: 20px;
    top: 15px;
}
.footer{
    font-family:JostRegular;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1,1fr);
    background-color: white;
    
}
.topfooter{
   text-align: center;
   position: relative;
}

.topfooter::before{
    position: absolute;
    width: 45%;
    height: 2px;
    left: 1%;
    top:50%;
    content:'';
    border-top:1px solid rgb(214, 211, 211);
    border-bottom:1px solid rgb(214, 211, 211);
}
.topfooter::after{
    position: absolute;
    width: 45%;
    height: 2px;
    right: 1%;
    top:50%;
    content:'';
    border-top:1px solid rgb(214, 211, 211);
    border-bottom:1px solid rgb(214, 211, 211);
}


li{
    list-style: none;
    color: #303030;
    margin-bottom: 10px;
    font-size: 16px;
}
/* .bottomfooter{
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5,1fr);
    margin-right:20px ;
    margin-left:30px ;
} */
.bottomfooter{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right:20px ;
    margin-left:30px ;
}
.footer h3{
    color:#303030;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0%;
}
.footer h4{
    color: #303030;
    margin-top: 50px;
    font-family:Jostbold;
    margin-bottom: 10px;
    font-size: 14px;
}
.signup{
    display: flex;
    flex-direction: column;

}
.signup p{
    font-size: 14px;
    color: #303030;
}
.input1{
    border-bottom: 1px solid black;
}
.input1 input{
    border: none;
}
.input1 label{
    float: right;
    font-family:Jostbold;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}
.icon img{
    margin-right:20px;
}
.mobile-footer{
    display: none;
}

@media screen and (max-width: 860px){
    .shawltype{
        display: none;
    }
    .div1{
        display: none; 
    }
    .toptags{
        display: none;
    }
    .mainbody{
        margin: 20px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        border-bottom: 1px solid rgb(214, 211, 211);
    }
    .headertop{
        justify-content: center;
        background-color: #9d8b61
    }
    .headerbottom{
        display: none;
    }
    .headermobile{
        display:flex;
        flex-direction: row;
        position: relative;
        margin: 0%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .dropbtn{
        position: absolute;
        left: 0%;
        top: 50%;
        width: auto;
        height: auto;
        margin: 0%;
        background-color: white;
        border: none;
        padding: 0%;
    }
    .logo{
        padding: 0%;
        margin: 0%;
        margin-left: 45px;
        margin-top: 30px;
    }
.india{
    height: 20px;
    width: 30px;
}
.searchlogo span{
    font-family:JostRegular;
    font-size: 20px;
}
.searchlogo img{
    margin-left: 5px;
    height: 20px;
    width: 20px;
}
    .searchlogo{
        position: absolute;
        right: 0%;
    }
    .div2{
        width: 100%;
    }
}
@media screen and (max-width:752px) {
    .bottomfooter{
        display: none;
    }
    .mobile-footer{
        display: flex;
        flex-direction: column;
    }
    .signup h4,.icon,p,.last{
        margin-left: 20px;
        margin-right: 20px;
    }
    .last{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .input1{
        margin: 20px;
        margin-bottom:40px;
    }
    .signup h4{
        font-family:Jostbold;
        font-size: medium;
        margin-bottom:20px;
    }
   .icon{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-bottom: 20px;
     }
     .shop h3,a{
        margin-left: 20px;
        font-weight: 400;
     }
    .shop{
        position: relative;
        border-bottom: 1px solid hsla(0,0%,77.3%,.47059);
    }
    .show-data{
        position: relative;
    }
    .mobile-dynamic-icon{
        position: absolute;
        right: 2%;
        top: 30%;
    }
    .minus{
        display: none;
    }
    .dropdown-content{
        display: none;
        flex-direction: column;
        z-index: 1;
        min-width: 100%;
    }
    /* .show-data:hover .dropdown-content{
        display: flex;
    } */
    .dropdown-content a{
        padding: 12px 16px 0 0;
        text-decoration: none;
        color: #303030;
    }
}